* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------ NAV ------------------*/
nav {
    font-family: Roboto, sans-serif;
    background-color: #b2d481;
    height: 100px;
    width: 100%;
    z-index: 0;
}

nav .gametitle {
    font-size: 30px;
    float: left;
    padding: 30px;
}

nav ul {
    list-style-type: none;
}

nav li a {
    display: block;
    block-size: 100px;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
    transition-duration: 0.4s;
}
nav li a:hover {
    background-color: #77d17a;
}

nav a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}




/*------------------ Community Button ------------------*/
.dropbutton {
    transition-duration: 0.4s;
    padding: 0px 30px;
    block-size: 100px;
    background-color: #b2d481;
    font-size: 16px;
    border: none;
}
.dropdown {
    transition-duration: 0.4s;
    position: relative;
    display: inline-block;
    z-index: 1;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbutton {background-color: #77d17a}



/*------------------ Footer ------------------*/
footer{
    position: absolute;
    bottom: 0;
    background-color: #495867;
    height: 100px;
    width: 100%;
}

.copyright {
    font-family: Roboto, sans-serif;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer a:link {
    color: white;
    background-color: transparent;
}
footer a:visited {
    color: white;
    background-color: transparent;
}


@media(max-width: 500px) {
    .firstbox, .secondbox, .thirdbox, .fourthbox {
        width: 10%;
        height: 10%;
    }
}




.firstbox {
    height: 250px;
    width: 23%;
    background-color:gray;
    margin-left: 25%;
    margin-top: 3%;
    float: left;

}

.firstbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 33%;
    top: 5%;
}

.firstbox h1{
    text-align: center;
    margin-top: 20px;
}

.firstbox p{
    text-align: center;
}

.firstbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.secondbox{
    height: 250px;
    width: 23%;
    background-color:gray;
    margin-right: 25%;
    margin-top: 3%;
    float: right;
}

.secondbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 33%;
    top: 5%;
}

.secondbox h1{
    text-align: center;
    margin-top: 20px;
}

.secondbox p{
    text-align: center;
}

.secondbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.thirdbox{
    height: 250px;
    width: 23%;
    background-color: gray;
    margin-left: 25%;
    margin-top: 2%;
    float: left;
}

.thirdbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 33%;
    top: 5%;
}

.thirdbox h1{
    text-align: center;
    margin-top: 20px;
}

.thirdbox p{
    text-align: center;
}

.thirdbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}


.fourthbox{
    height: 250px;
    width: 23%;
    background-color: gray;
    margin-right: 25%; 
    margin-top: 2%; 
    float: right;
}

.fourthbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 33%;
    top: 5%;
}

.fourthbox h1{
    text-align: center;
    margin-top: 20px;
}

.fourthbox p{
    text-align: center;
}

.fourthbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

a:hover, a:active {
    background-color: #b2b2b2;
    color: white;
}


