* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------ DO NOT TOUCH------------------*/
nav {
    background-color: #b2d481;
    height: 100px;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #495867;
    height: 100px;
    width: 100%;
}

body{
    position: relative;
    min-height: 100vh;
}




.firstbox {
    height: 250px;
    width: 350px;
    background-color:gray;
    margin-left: 330px;
    margin-top: 40px;
    float: left;

}

.firstbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 130px;
    top: 10px;
}

.firstbox h1{
    text-align: center;
    margin-top: 20px;
}

.firstbox p{
    text-align: center;
}

.firstbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.secondbox{
    height: 250px;
    width: 350px;
    background-color:gray;
    margin-right: 330px;
    margin-top: 40px;
    float: right;
}

.secondbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 130px;
    top: 10px;
}

.secondbox h1{
    text-align: center;
    margin-top: 20px;
}

.secondbox p{
    text-align: center;
}

.secondbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.thirdbox{
    height: 250px;
    width: 350px;
    background-color: gray;
    margin-left: 330px;
    margin-top: 40px;
    float: left;
}

.thirdbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 130px;
    top: 10px;
}

.thirdbox h1{
    text-align: center;
    margin-top: 20px;
}

.thirdbox p{
    text-align: center;
}

.thirdbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}


.fourthbox{
    height: 250px;
    width: 350px;
    background-color: gray;
    margin-right: 330px; 
    margin-top: 40px; 
    float: right;
}

.fourthbox img{
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    position: relative;
    left: 130px;
    top: 10px;
}

.fourthbox h1{
    text-align: center;
    margin-top: 20px;
}

.fourthbox p{
    text-align: center;
}

.fourthbox a{
    background-color: lightgray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 15%;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

a:hover, a:active {
    background-color: #b2b2b2;
    color: white;
}


