.test {
    margin: auto;
    padding: auto;
    width: 50%;
}

.bgimg {
    position:absolute;
}

body{
    position: relative;
    min-height: 100vh;
}

nav {
    font-family: Roboto, sans-serif;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li a {
    float: left;
    display: block;
    block-size: 100px;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
    transition-duration: 0.4s;
}
nav li a:hover {
    background-color: #72d675;
}

nav a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.dropbutton {
    transition-duration: 0.4s;
    padding: 0px 30px;
    block-size: 100px;
    background-color: #b2d481;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    transition-duration: 0.4s;
    position: relative;
    display: inline-block;
    height: 1000px;

  }
  
  .dropdown-content {
    transition: all 0.5s;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbutton {background-color: #72d675}
