/*Apply to Everyting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------ body ------------------*/
body{
    position: relative;
    min-height: 100vh;

    background-image: url('imgs/luis-poletti-th4bqV0PQpI-unsplash.jpg');
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('imgs/luis-poletti-th4bqV0PQpI-unsplash.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
    background-size: cover;
}

.welcometext {
    font-family: 'Comfortaa';
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: 4.5%;
    margin-left: 3%;
    background-color: rgba(22, 22, 22, 0.5);
    padding: 30px 40px;
    border-radius: 10px;
}

/*------------------ NAV ------------------*/
nav {
    font-family: Roboto, sans-serif;
    background-color: rgb(178, 212, 129,.85);
    height: 100px;
    width: 100%;
}

nav .gametitle {
    font-size: 30px;
    float: left;
    padding: 30px;
}

nav ul {
    list-style-type: none;
}

nav li a {
    display: block;
    block-size: 100px;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
    transition-duration: 0.4s;
}
nav li a:hover {
    background-color: rgb(119, 209, 122, .6);
}

nav a:link {
    color: black;
    text-decoration: none;
}
nav a:visited {
    color: black;
    text-decoration: none;
}

/*------------------ Community Button ------------------*/
.dropbutton {
    transition-duration: 0.4s;
    padding: 0px 30px;
    block-size: 100px;
    background-color: rgb(178, 212, 129, 0);
    font-size: 16px;
    border: none;
}
.dropdown {
    transition-duration: 0.4s;
    position: relative;
    display: inline-block;
    z-index: 1;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbutton {background-color: rgb(119, 209, 122, .6)}


/*------------------ Footer ------------------*/
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(73, 88, 103,.9);
    height: 100px;
    width: 100%;
}

.copyright {
    font-family: Roboto, sans-serif;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer a:link {
    color: white;
}
footer a:visited {
    color: white;
}

/*------------------ Responsiveness ------------------*/
@media only screen and (max-width: 1000px) { #community{display: none;} }
@media only screen and (max-width: 860px) { #about{display: none;} }
@media only screen and (max-width: 720px) { #login{display: none;} }
@media only screen and (max-width: 550px) { #title{display: none;} }